* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 160, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 30px; 
}

.form {
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    margin: 10%;
    padding: 50px;
    max-width: 450px;
    box-shadow: 60px 60px 60px rgba(0,0,0,0.1);
}

input, select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
}

.title {
    margin-bottom: 15px;
}

.butsub {
    background-color: #31d434;
    color: aliceblue;
    border: 1px solid #31d434; 
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
