* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
     background-color: rgb(98, 175, 238);
}

.container {
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background: white;
    text-align: center;
    border-radius: 5px;
}

.count {
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

input[type="text"] {
    display: block;
    font-size: 16px;
    border: 1px solid rgb(153, 147, 147);
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    outline: none;
}

h1 {
    margin-bottom: 20px; 
}

